Hiskor.xcodeproj/xcuserdata/
Hiskor.xcodeproj/project.xcworkspace/contents.xcworkspacedata
Hiskor.xcodeproj/project.xcworkspace/xcuserdata/
Hiskor Admin.xcodeproj/project.xcworkspace/contents.xcworkspacedata
Hiskor Admin.xcodeproj/project.xcworkspace/xcuserdata/suchymac3.xcuserdatad/UserInterfaceState.xcuserstate
Hiskor Admin.xcodeproj/project.xcworkspace/xcuserdata/suchymac3.xcuserdatad/WorkspaceSettings.xcsettings
